<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hobby-Box.nl{% endblock %}</title>

        {% block stylesheets %}
{#            custom fonts or anything here#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <a class="navbar-title">
                <p class="font-weight-bold">hobby-box.nl</p>
            </a>
            <button class="hamburger-menu">
                !TODO
            </button>
        </nav>


        {% block body %}

        {% endblock %}
    </body>
</html>
